* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

html,
input,
button {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

body .wrapper {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper header {
  padding: 70px;
}

body .wrapper main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
}

body .wrapper main h1 {
  color: #969696;
  font-weight: 300;
  letter-spacing: 1px;
}

body .wrapper main h1 span {
  color: #151f29;
  font-weight: 700;
}

body .wrapper main h3 {
  padding: 20px;
  font-size: 18px;
  font-weight: 300;
}

body .wrapper main form {
  margin: 20px auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

body .wrapper main form .email {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px;
}

body .wrapper main form .email input {
  width: 100%;
  font-size: 14px;
  padding: 16px 30px 16px 30px;
  border-radius: 50px;
  border: 1px solid #999;
}

body .wrapper main form .email input.error {
  border-color: red;
}

body .wrapper main form .email .warning {
  display: none;
}

body .wrapper main form .email .warning.active {
  display: block;
  font-size: 12px;
  color: red;
  text-align: left;
  padding: 10px 30px;
}

body .wrapper main form button {
  font-size: 14px;
  color: white;
  font-weight: 600;
  padding: 16px 40px;
  border-radius: 50px;
  border: none;
  background-color: #4f7df3;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px #c2d3ff;
          box-shadow: 0 5px 10px #c2d3ff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .wrapper main form button:hover {
  -webkit-box-shadow: 0 7px 12px #c2d3ff;
          box-shadow: 0 7px 12px #c2d3ff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.8;
}

body .wrapper main form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

body .wrapper main .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

body .wrapper main .image img {
  width: 100%;
}

body .wrapper main .footer .copyrights {
  color: #969696;
  font-size: 15px;
  padding: 50px;
}

.fa {
  font-size: 30px;
  padding: 15px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 10px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #fa3d30;
  color: white;
}

@media (max-width: 640px) {
  body .wrapper main {
    padding: 0 20px;
  }
  body .wrapper main form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper main form .email {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  body .wrapper main form .email input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  body .wrapper main form .email .warning.active {
    text-align: center;
    padding: 0;
  }
  body .wrapper main form button {
    width: 100%;
    margin-top: 10px;
  }
  body .wrapper main .footer .social-media {
    padding: 50px 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */